@font-face{
    src:url(../fonts/retro_font.ttf);
    font-family: retro;
}

*,
*::before,
*::after {
    box-sizing: content-box;
    font-family: retro;
    /* font-size: 15px; */
}

html, body {
    position: static;
    background-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 168, 0);
    margin: 0;
    padding: 0;
}

button{
    padding: 0 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover{
    text-shadow: 
    0 0 1px hsl(0 0% 100% / 0.5),
    0 0 2px rgb(255, 255, 255),
    0 0 3px rgb(255, 255, 255),
    0 0 5px rgb(0, 168, 0),
    0 0 7px rgb(0, 168, 0),
    0 0 10px rgb(0, 168, 0),
    0 0 12px rgb(0, 168, 0),
    0 0 15px rgb(0, 168, 0);
}

.mySwiper{
    /* background-color: aqua; */
    max-width: 1440px;
    max-height: 1000px;
    width: 80%;
    height: min(50vh,1000px);
    margin: 0 auto;
}

.mySwiper {
    display: flex;
    /* background-color: aqua; */
}

.project_cards{
    position: relative;
    display: block;
    background-image: url(../home/images/Clown.jpg);
    background-size: cover;
    border-radius: 20px 20px 20px 20px;
}

.content{
    position: relative;
    background: linear-gradient(hsl(0 0% 0% / 0),
        hsl(20 0% 0% / .5) 20%,
        hsl(0 0% 0% / 1));
    height: 65%;
    top: 25%;
    border-radius: 0 0 15px 15px;
    padding: 1.5rem;
}

.card_title{
    position: relative;
    width: max-content;
    max-width: 100%;
    /* background-color: blue; */
}

.card_title::after{
    content: '';
    background-color: blueviolet;
    position: absolute;
    height: 5px;
    width: 150%;
    left: 0;
    top: 130%;
}

.card_container button{
    position: relative;
    top: 58%;
    left: 50%;
    transform: translate(-50%,0);
}

#bonefire{
    position: relative;
    background-color: burlywood;
    height: 100;
    width: 300px;
    left: 50%;
    top: 30px;
    transform: translate(-50%,0%);
    /* z-index: 3; */
}