@font-face{
    src:url(../fonts/retro_font.ttf);
    font-family: retro;
}

*,
*::before,
*::after {
    box-sizing: content-box;
    font-family: retro;
    font-size: 15px;
}

html, body {
    position: static;
    background-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 168, 0);
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

nav ul{
    list-style:  none;
}


nav li{
    display: inline-block;
    padding: 0px 20px;
}

nav a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    text-shadow: 
    0 0 1px hsl(0 0% 100% / 0.5),
    0 0 2px rgb(255, 255, 255),
    0 0 3px rgb(255, 255, 255),
    0 0 5px rgb(0, 168, 0),
    0 0 7px rgb(0, 168, 0),
    0 0 10px rgb(0, 168, 0),
    0 0 12px rgb(0, 168, 0),
    0 0 15px rgb(0, 168, 0);
}

button{
    padding: 0 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover{
    text-shadow: 
    0 0 1px hsl(0 0% 100% / 0.5),
    0 0 2px rgb(255, 255, 255),
    0 0 3px rgb(255, 255, 255),
    0 0 5px rgb(0, 168, 0),
    0 0 7px rgb(0, 168, 0),
    0 0 10px rgb(0, 168, 0),
    0 0 12px rgb(0, 168, 0),
    0 0 15px rgb(0, 168, 0);
}

.slider_container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    z-index: -1;
    background-color: rgb(0, 0, 0);
}

.card_container{
    max-width: 1440px;
    height: 35ch;
    width: 80%;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0); */
}

.card_content {
    display: flex;
    /* background-color: aqua; */
}

.project_cards{
    position: relative;
    display: block;
    background-image: url(../home/images/Clown.jpg);
    background-size: cover;
    border-radius: 20px 20px 20px 20px;
}

.content{
    position: relative;
    background: linear-gradient(hsl(0 0% 0% / 0),
        hsl(20 0% 0% / .5) 20%,
        hsl(0 0% 0% / 1));
    height: 65%;
    top: 25%;
    border-radius: 0 0 15px 15px;
    padding: 1.5rem;
}

.card_title{
    position: relative;
    width: max-content;
    max-width: 100%;
    /* background-color: blue; */
}

.card_title::after{
    content: '';
    background-color: blueviolet;
    position: absolute;
    height: 5px;
    width: 150%;
    left: 0;
    top: 130%;
}

.card_container button{
    position: relative;
    top: 58%;
    left: 50%;
    transform: translate(-50%,0);
}

#bonefire{
    position: relative;
    background-color: burlywood;
    height: 100;
    width: 300px;
    left: 50%;
    top: 30px;
    transform: translate(-50%,0%);
    /* z-index: 3; */
}