@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face{
    src:url(../fonts/retro_font.ttf);
    font-family: retro;
}

:root{
    --main_tittle_color: rgb(255, 0, 0);
}

* {
    box-sizing: border-box;
    font-family: retro;
    /* font-size: 10px; */
}

html, body {
    background-color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(0, 168, 0);
    margin: 0;
    padding: 0;
}

#bc{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

button{
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    font-size: min(1.5vmax, 20px);
    cursor: pointer;
    transition: all .3s ease 0s;
}

button:hover{
    text-shadow: 
    0 0 1px hsl(0 0% 100% / 0.5),
    0 0 2px rgb(255, 255, 255),
    0 0 3px rgb(255, 255, 255),
    0 0 5px rgb(0, 168, 0),
    0 0 7px rgb(0, 168, 0),
    0 0 10px rgb(0, 168, 0),
    0 0 12px rgb(0, 168, 0),
    0 0 15px rgb(0, 168, 0);
}

.main_tittle {
    /* background-color: rgb(22, 240, 3); */
    -webkit-text-fill-color: rgb(255, 255, 255);
    font-family: 'Audiowide', cursive;
    font-size: min(7vmin, 1000px);
    font-weight: 600;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
    /* z-index: -5; */
    text-shadow: 
    0 0 1px hsl(0 0% 100% / 0.5),
    0 0 5px rgb(255, 255, 255),
    0 0 8px rgb(255, 255, 255),
    0 0 20px var(--main_tittle_color),
    0 0 35px var(--main_tittle_color),
    0 0 40px var(--main_tittle_color),
    0 0 50px var(--main_tittle_color),
    0 0 75px var(--main_tittle_color);
    animation: shine_text 3s ease-in-out infinite alternate;
}

.main_tittle::before {
    content: '';
    position: absolute;
    background: var(--main_tittle_color);
    top: 120%;
    width: 100%;
    height: 100%;
    transform: perspective(1.2em) rotateX(45deg) scale(1, 0.35);
    filter: blur(1em);
    animation: shine_bottom 3s ease-in-out infinite alternate;
}

.main_tittle::after {
    content: '';
    position: absolute;
    background: var(--main_tittle_color);
    top: -120%;
    right: 0%;
    width: 100%;
    height: 100%;
    transform: perspective(1.2em) rotateX(-45deg) scale(1, 0.35);
    filter: blur(1em);
    animation: shine_top 3s ease-in-out infinite alternate;
}

@keyframes shine_bottom {
    from {
        transform: perspective(1.2em) rotateX(45deg) scale(1, 0.36);
    }

    to {
        transform: perspective(1.2em) rotateX(45deg) scale(1.4, 0.40);
    }
}

@keyframes shine_top {
    from {
        transform: perspective(1.2em) rotateX(-45deg) scale(1, 0.36);
    }

    to {
        transform: perspective(1.2em) rotateX(-45deg) scale(1.4, 0.40);
    }
}

@keyframes shine_text {
    from{
        text-shadow: 
        0 0 1px hsl(0 0% 100% / 0.5),
        0 0 5px rgb(255, 255, 255),
        0 0 8px rgb(255, 255, 255),
        0 0 20px var(--main_tittle_color),
        0 0 35px var(--main_tittle_color),
        0 0 40px var(--main_tittle_color),
        0 0 50px var(--main_tittle_color),
        0 0 75px var(--main_tittle_color);
    }

    to{
        text-shadow: 
        0 0 1px hsl(0 0% 100% / 0.5),
        0 0 5px rgb(255, 255, 255),
        0 0 16px rgb(255, 255, 255),
        0 0 40px var(--main_tittle_color),
        0 0 70px var(--main_tittle_color),
        0 0 80px var(--main_tittle_color),
        0 0 100px var(--main_tittle_color),
        0 0 150px var(--main_tittle_color);
    }
}

#intro_p {
    background: linear-gradient(hsla(0, 0%, 0%, 0.7),
    hsla(0, 0%, 0%, 0.5) 20%,
    hsla(0, 0%, 0%, 0));
    position: absolute;
    font-size: 15px;
    font-size: min(1.5vmax, 15px);
    top: 80%;
    left: 50%;
    width: 80vw;
    height: 30vh;
    transform: translate(-50%,-50%);
    z-index: -3;
}

.reset_type_animation{
    /* background-color: #8c00e9; */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translate(-50%,0);
}

#power_button{
    position: absolute;
    padding: 0 14px;
    width: 50px;
    height: 50px;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.power_button_color_shade{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main_tittle_color);
    filter: blur(1em);
    z-index: -1;
}

.horizintal{
    transform: scale(.3, .7);
    animation: button_shine_h 3s ease-in-out infinite alternate;
}

.vertical{
    transform: scale(.7, .3);
    animation: button_shine_v 3s ease-in-out infinite alternate;
}

#power_button_white_shade{
    position: absolute;
    background-color: white;
    width: 28px;
    height: 31px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    filter: blur(.3em);
}

#pwi{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: -16px;
    margin-left: -25px;
}

@keyframes button_shine_h{
    from {
        transform: scale(.3, .7);
    }

    to {
        transform: scale(.5, 1);
    }
}

@keyframes button_shine_v{
    from {
        transform: scale(.7, .3);
    }

    to {
        transform: scale(1, .5);
    }
}

#linked_in{
    position: absolute;
    top: 80%;
    left: 100%;
}

#git{
    position: absolute;
    top: 80%;
    left: 85%;
}

.back_color_linked{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0072b1;
    filter: blur(1em);
    z-index: -3;
}

.back_color_git{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8c00e9;
    filter: blur(1em);
    z-index: -3;
}

.back_white_shade{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
    filter: blur(.5em);
    z-index: -1;
    transition: all .3s ease 0s;
}

#linked_in:hover{
    transform: scale(1.3);
}

#git:hover{
    transform: scale(1.3);
}

.shine{
    transform: scale(.5,.5);
    animation: shine 3s ease-in-out infinite alternate;
}

@keyframes shine{
    from {
        transform: scale(.5, .5);
    }

    to {
        transform: scale(1, 1);
    }
}
